.hello {
  color: red;
  background: url('../images/icon.png');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'), url('../fonts/NotoSans-Regular.woff2') format('woff2'),
    url('../fonts/NotoSans-Regular.woff') format('woff'),
    url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans-Regular.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI';
}

.btns {
  > .btn {
    margin: 0.25rem 0.25rem;
  }
}

.box {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin: 0.25rem;
}

.doc-section {
  margin-top: 3rem;
}

// 3D effect 원근법 효과
.effect {
  perspective: 800px;

  &--child {
    transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
    transition: 0.3s;

    &:hover,
    &:focus {
      transform: rotate(0);
    }
  }
}

// animation gradient button
.anim-bg-gradient {
  background: linear-gradient(120deg, $indigo, $red, $yellow);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: none;

  &:hover,
  &:focus {
    background-position: 0 0;
  }
}

// animation Text Underline
.anim-underline-fx {
  background-image: linear-gradient(to right, $indigo 50%, $blue 50%);
  background-size: 200% 4px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.3s;

  &:hover,
  &:focus {
    background-position: 0% 100%;
  }
}
