// Global Styles
// by. iduk

// Reset

// @font-face {
//   font-family: 'Noto Sans KR';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Noto Sans KR'), url('../fonts/NotoSans-Regular.woff2') format('woff2'),
//     url('../fonts/NotoSans-Regular.woff') format('woff'),
//     url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/NotoSans-Regular.otf') format('opentype');
// }

ul,
li,
dt,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

i.bx {
  line-height: normal;
  display: inline-flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI';
}

.btns {
  > .btn {
    margin: 0.25rem 0.25rem;
  }
}

.box {
  width: 3em;
  height: 3em;
  display: inline-block;
  margin: 0.25rem;
}

.doc-section {
  margin-top: 3rem;
}

// 3D effect 원근법 효과
.effect {
  perspective: 800px;

  &--child {
    transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
    transition: 0.3s;

    &:hover,
    &:focus {
      transform: rotate(0);
    }
  }
}

// animation gradient button
.anim-bg-gradient {
  background: linear-gradient(120deg, $indigo, $red, $yellow);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  border: none;
  color: black;

  &:hover,
  &:focus {
    background-position: 0 0;
    color: black;
  }
}

// animation Text Underline
.anim-underline-fx {
  background-image: linear-gradient(to right, $indigo 50%, $blue 50%);
  background-size: 200% 4px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.3s;

  &:hover,
  &:focus {
    background-position: 0% 100%;
  }
}

.text-gradient {
  font-size: 4em;
  font-weight: bold;
  text-align: center;

  @supports (--css: variables) {
    background: linear-gradient(to right, darkblue, darkorchid);
    color: transparent;
    background-clip: text;
  }

  &::selection {
    color: white;
    background: darkorchid;
  }
}
.scroll-snap {
  // set height + overflow
  --scroll-gap: 1em;
  overflow: auto;
  padding: var(--scroll-gap) 0;
  scroll-snap-type: y mandatory;

  &__child {
    scroll-snap-align: center;

    // align content
    display: flex;
    align-items: center;
    justify-content: center;

    // set height
    height: calc(100% - 3 * var(--scroll-gap));

    // style stuff
    border-radius: 0.4em;
    padding: 1.25em;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);

    // grid gap
    &:not(:last-child) {
      margin-bottom: var(--scroll-gap);
    }

    // style stuff
    &:nth-child(1) {
      background-color: hsl(358, 65%, 55%);

      h1 {
        color: hsl(165, 100%, 96%);
      }
    }

    &:nth-child(2) {
      background-color: hsl(183, 46%, 74%);

      h1 {
        color: hsl(96, 20%, 5%);
      }
    }

    &:nth-child(3) {
      background-color: hsl(206, 46%, 37%);

      h1 {
        color: hsl(165, 100%, 96%);
      }
    }

    &:nth-child(4) {
      background-color: hsl(216, 49%, 22%);

      h1 {
        color: hsl(165, 100%, 96%);
      }
    }
  }
}

.display-1 {
  font-family: 'Yeseva One';
}
