// Breakpoints
// min-width
@mixin screen-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// max-width
@mixin screen-down($widths) {
  @if map-has-key($max-widths, $widths) {
    @media #{inspect(map-get($max-widths, $widths))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$widths}`. "
        + "Available breakpoints are: #{map-keys($max-widths)}.";
  }
}
