// My Variables
$col-small: 540px;
$col-medium: 720px;
$col-large: 960px;

$primary: #0044ff;
$secondary: #00d9ff;
$success: #00ff6a;
$warning: #ffd900;
$danger: #ff2802;

$dark: #222;
$light: #f2f2f2;
$black: #000;
$white: #fff;
