{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": { "ie": "11" } // 대상 브라우저에 필요한 플러그인만 변환
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
