// PostList Style

.post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  li {
    padding: 2rem;
    background-color: rgba(black, 0.125);
  }
  .items {
    display: block;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .skeleton-title,
  .skeleton-content {
    position: relative;
    width: 100%;
    display: block;
    background-color: #aaa;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: -150px;
      top: 0;
      height: 100%;
      width: 150px;
      background: linear-gradient(
        to right,
        transparent 0%,
        #e8e8e8 50%,
        transparent 100%
      );
      animation: Skeleton 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
  .skeleton-title {
    height: 30px;
    margin-bottom: 0.5rem;
  }
  .skeleton-content {
    height: 10px;
  }

  @keyframes Skeleton {
    0% {
      left: -150px;
    }
    100% {
      left: 100%;
    }
  }
}
