// Layout Style

:root {
  --topbar-h-size: 3rem;
  --nav-width: 72px;
  --z-fixed: 100;
}

body {
  position: relative;
  margin: var(--topbar-h-size) 0 0 0;
  padding: 0 1rem;
  transition: 0.2s;

  .topbar {
    width: 100%;
    height: var(--topbar-h-size);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $primary;
    z-index: var(--z-fixed);
    transition: 0.5s;
  }

  .sidebar_toggle {
    color: var(--bs-dark);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--bs-black);
    padding: 0.5rem 1rem 0 0;
    transition: 0.2s;
    z-index: var(--z-fixed);
  }

  .nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .nav_logo,
  .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
    text-decoration: none;
  }

  .nav_logo {
    margin-bottom: 2rem;
  }

  .nav_logo-icon {
    font-size: 1.25rem;
    color: var(--bs-primary);
  }

  .nav_logo-name {
    color: var(--bs-primary);
    font-weight: 700;
  }

  .nav_link {
    position: relative;
    color: var(--bs-gray-600);
    margin-bottom: 1.5rem;
    transition: 0.3s;
  }

  .nav_link:hover {
    color: var(--bs-primary);
  }

  .nav_icon {
    font-size: 1.25rem;
  }

  .show {
    left: 0;
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
  }

  .active {
    color: var(--bs-primary);
  }

  .active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--bs-primary);
  }

  .height-100 {
    height: 100vh;
  }

  @media screen and (min-width: 768px) {
    #body-pd {
      margin: calc(var(--topbar-h-size) + 1rem) 0 0 0;
      padding-left: calc(var(--nav-width) + 2rem);
    }

    .topbar {
      height: calc(var(--topbar-h-size) + 1rem);
      padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar {
      left: 0;
      padding: 1rem 1rem 0 0;
    }

    .show {
      width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
      padding-left: calc(var(--nav-width) + 188px);
    }
  }
}
