// Base Layout Style

$navbar-h: 80px;
$navbar-h-m: 54px;

.navbar {
  height: $navbar-h;
  padding: 0;

  // brand
  .navbar-brand {
    display: inline-flex;
    font-size: 2rem;
    font-family: 'Yeseva One';
    font-weight: bold;
    color: inherit;
  }

  // btn
  .navbar-toggler {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Yeseva One';
    border: 0;
    transition: 0.3s;
    cursor: pointer;

    &:hover,
    &:focus {
      @supports (--css: variables) {
        background: linear-gradient(to right, $primary, $success);
        color: transparent;
        background-clip: text;
      }
    }
  }
  .menu-item {
    padding: 0;
  }
  .menu-item__link {
    display: inline-block;
    padding: 1rem 1.5rem;
    color: inherit;
  }
  .menu-item__link {
    position: relative;

    &:hover,
    &:focus,
    &.active {
      background-color: inherit;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: -4px;
        height: 4px;
        width: 30px;
        transform: translateX(-50%);
        background-color: inherit;
        animation: linkAnima 0.3s ease;
      }
    }
  }
}

@keyframes linkAnima {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

// mobile
@include media-breakpoint-down(md) {
  .navbar {
    height: $navbar-h-m;
    padding: 0;

    .navbar-brand,
    .navbar-toggler {
      z-index: 2;
    }

    .navbar-brand {
      font-size: 1.5rem;
    }

    .navbar-collapse {
      backdrop-filter: blur(14px);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: $navbar-h-m;

      .navbar-nav {
        padding: 2rem 0;
      }

      .menu-item__link {
        display: block;
        padding: 0.5rem 0;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
