// Profile Scss

.container {
  padding: 15px;
}

.animate {
  transition: transform 0.35s ease-in-out;
}

.animate.grow {
  transform: scale(1.5);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.modalContent {
  width: 100%;
  color: #004085;
  background-color: #cce5ff;
  padding: 0.75rem 1.25rem;
  border: 1px solid #b8daff;
  border-radius: 0.25rem;
}

div[class*='modal2-enter'],
div[class*='modal2-enter-done'] {
  opacity: 0;
  transform: scale(0.9);
}
div[class*='modal2-enter-active'] {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

div[class*='modal2-exit'],
div[class*='modal2-exit-done'] {
  opacity: 1;
}
div[class*='modal2-exit-active'] {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
