// Buttons
%btn {
  display: inline-block;
  border-style: solid;
  appearance: none;
  box-shadow: none;
  box-sizing: border-box;
  line-height: normal;
  border-color: transparent;
  border-width: $btn-border-width;
  font-size: $text-base;
}

.btn {
  @extend %btn;
}

// @each $key, $value in $btn-sizes {
//   .btn-#{$key} {
//     font-weight: $value;
//   }
// }
