// Buttons

%btn {
  appearance: none;
  box-sizing: border-box;
  box-shadow: none;
  transition: all 0.2s ease;
  background-color: transparent;
  border-width: 0;
  border-color: transparent;
  border-style: solid;
  line-height: 1;
  padding: 0;
  margin: 0;
  outline: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button {
  @extend %btn;
  color: inherit;
}

// bg,border,invert-color & hover,focus
@mixin button-theme($color-palette) {
  @each $name, $color in $color-palette {
    &-#{'' + $name} {
      background-color: #{$color};
      border-color: #{$color};
      @include color-invert($color);

      &:hover,
      &:focus {
        background-color: lighten($color, 3%);
      }
      &:active {
        background-color: darken($color, 3%);
      }
    }
  }
}

@mixin button-sizing($btn-sizes) {
  @each $name, $size in $btn-sizes {
    &#{'' + $name} {
      padding: $size;
      font-size: 1rem;
      @if $name == '-sm' {
        font-size: 0.875rem;
      }
      @if $name == '-lg' {
        font-size: 1.125rem;
      }
      @if $name == '-xl' {
        font-size: 1.45rem;
      }
    }
  }
}

.btn {
  @extend %btn;
  @include button-theme($color-palette);
  @include button-sizing($btn-sizes);
}
