@use 'sass:map';

// theme palettes shades
$palettes: (
  'grays': (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900,
  ),
  'primary': (
    '100': $blue-100,
    '200': $blue-200,
    '300': $blue-300,
    '400': $blue-400,
    '500': $blue-500,
    '600': $blue-600,
    '700': $blue-700,
    '800': $blue-800,
    '900': $blue-900,
  ),
  'secondary': (
    '100': $indigo-100,
    '200': $indigo-200,
    '300': $indigo-300,
    '400': $indigo-400,
    '500': $indigo-500,
    '600': $indigo-600,
    '700': $indigo-700,
    '800': $indigo-800,
    '900': $indigo-900,
  ),
  'danger': (
    '100': $red-100,
    '200': $red-200,
    '300': $red-300,
    '400': $red-400,
    '500': $red-500,
    '600': $red-600,
    '700': $red-700,
    '800': $red-800,
    '900': $red-900,
  ),
  'warning': (
    '100': $yellow-100,
    '200': $yellow-200,
    '300': $yellow-300,
    '400': $yellow-400,
    '500': $yellow-500,
    '600': $yellow-600,
    '700': $yellow-700,
    '800': $yellow-800,
    '900': $yellow-900,
  ),
  'success': (
    '100': $green-100,
    '200': $green-200,
    '300': $green-300,
    '400': $green-400,
    '500': $green-500,
    '600': $green-600,
    '700': $green-700,
    '800': $green-800,
    '900': $green-900,
  ),
);

@each $color, $palette in $palettes {
  @each $key, $value in $palette {
    .bg-#{$color}-#{$key} {
      background-color: $value !important;
    }

    .text-#{$color}-#{$key} {
      color: $value !important;
    }
  }
}
