.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  // max-widths
  @include screen-up('small') {
    max-width: $col-small;
  }
  @include screen-up('medium') {
    max-width: $col-medium;
  }
  @include screen-up('large') {
    max-width: $col-large;
  }
}
