.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left:  auto;
  padding: 0 $gutter-size;

  // max-widths
  @include screen-up('small') {
    max-width: $col-small;
  }
  @include screen-up('medium') {
    max-width: $col-medium;
  }
  @include screen-up('large') {
    max-width: $col-large;
  }
}
