.title {
  color: var(--bs-primary);
}

.parent {
  // style stuff
  background-color: hsl(96, 10%, 11%);

  // set height + overflow
  --scroll-gap: 2em;
  height: 100vh;
  overflow: auto;
  padding: var(--scroll-gap);

  // set scroll snap 👇
  scroll-snap-type: y mandatory;
}

.child {
  // set alignment 👇
  scroll-snap-align: center;

  // align content
  display: flex;
  align-items: center;
  justify-content: center;

  // set height
  height: calc(100vh - 3 * var(--scroll-gap));

  // style stuff
  border-radius: 0.4em;
  padding: 1.25em;
  box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);

  // grid gap
  &:not(:last-child) {
    margin-bottom: var(--scroll-gap);
  }

  // style stuff
  &:nth-child(1) {
    background-color: hsl(358, 65%, 55%);

    h1 {
      color: hsl(165, 100%, 96%);
    }
  }

  &:nth-child(2) {
    background-color: hsl(183, 46%, 74%);

    h1 {
      color: hsl(96, 20%, 5%);
    }
  }

  &:nth-child(3) {
    background-color: hsl(206, 46%, 37%);

    h1 {
      color: hsl(165, 100%, 96%);
    }
  }

  &:nth-child(4) {
    background-color: hsl(216, 49%, 22%);

    h1 {
      color: hsl(165, 100%, 96%);
    }
  }
}
