// Base Layout Style

$header-h: 80px;
$header-h-m: 54px;

.header-nav {
  position: relative;
  height: $header-h;
  padding: 0;
  overflow: hidden;
  display: flex;
}

// logo
.logo {
  display: inline-flex;
  font-size: 2rem;
  font-family: 'Yeseva One';
  font-weight: bold;
  color: inherit;
}

.text-gradient-anima {
  font-size: inherit;
  background: linear-gradient(
    to left top,
    $primary 20%,
    transparent 40%,
    $primary 60%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: background-position 0.5s;
  animation: Grandient 2s linear infinite;
}

@keyframes Gradient {
  to {
    background-size: 200% center;
  }
}

// btn
.toggler {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Yeseva One';
  border: 0;
  transition: 0.3s;
  cursor: pointer;
}

.menu-item {
  padding: 0;
}
.menu-item-link {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: inherit;
  transition: all 0.3s ease;

  &:focus,
  &:hover {
    opacity: 0.65;
  }
  &:focus,
  &:hover,
  &.active {
    background-color: inherit;
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: -2px;
      height: 4px;
      width: 24px;
      transform: translateX(-50%);
      animation: linkAnima 0.3s ease;
      background-color: inherit;
    }
  }
}

@keyframes linkAnima {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

// responsive
// small
@media (max-width: 767px) {
  .header-nav {
    height: $header-h-m;
    padding: 0;

    .logo,
    .toggler {
      z-index: 2;
    }

    .logo {
      font-size: 1.5rem;
    }
    .navbar-collapse.g {
      position: absolute;
      z-index: 1;
      top: 0;
      right: -100%;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding-top: $header-h-m;
      display: flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(15px);
      background-color: inherit;
      color: inherit;
      // effect
      transition: right 0.3s ease;
    }

    .collapse:not(.show) {
      right: -100%;
    }
    .collapse.show {
      right: 0;
    }
  }

  .navbar-nav {
    padding: 2rem 0;
  }

  .menu-item-link {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-align: center;
  }
}

.slideIn {
  animation: SlideIn 1s ease-in;
}
.slideOut:not(.slideIn) {
  animation: SlideIn 1s reverse ease-out;
}

@keyframes SlideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
