// Base Layout Style

$header-h: 80px;
$header-h-m: 54px;

.global-menu {
  position: relative;
  display: grid;
  border-width: 1px;
  border-bottom-style: solid;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar {
  margin-left: auto;
  margin-right: 0;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;

  .menu-link {
    position: relative;
    display: inline-block;
    outline: none;
    padding: 0.75rem 0.5rem;
    opacity: 0.65;
    cursor: pointer;

    &.active {
      opacity: 1;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 1rem;
        right: 1rem;
        bottom: 0;
        border-bottom-style: solid;
        border-width: 1px;
      }
    }
    &:focus,
    &:hover {
      .menu-link {
        background-color: rgba($black, 0.3);
        outline: auto;
      }
    }
  }
  .menu-text {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
}

body[data-theme='dark'] {
  .global-menu {
    border-color: rgba($light, 0.15);
  }
  .menu-link.active {
    &::before {
      border-color: $light;
    }
  }
}

body[data-theme='light'] {
  .global-menu {
    border-color: rgba($dark, 0.15);
  }
  .menu-link.active {
    &::before {
      border-color: $dark;
    }
  }
}

.toggler {
  display: none;
}

// logo
.logo {
  display: inline-flex;
  font-size: 1.5rem;
  font-family: 'Yeseva One';
  font-weight: bold;
  color: inherit;
  line-height: normal;
}

.text-gradient-anima {
  background-color: #000000;
  background-image: linear-gradient(
    50% 0%,
    8% 50%,
    #ffffff80 0%,
    #ffffff00 100%
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 500px 100%;
  transition: background 0.5s ease-in-out;
  animation: textGradient 3s linear infinite;

  // &:hover,
  // &:focus {
  //   background-size: 200% 100%;
  // }
}
.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: 0.125em;
      opacity: 1;
    }
  }
}

@keyframes textGradient {
  0% {
    background-position-x: 500px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes linkAnima {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

.slideIn {
  animation: SlideIn 1s ease-in;
}
.slideOut:not(.slideIn) {
  animation: SlideIn 1s reverse ease-out;
}

@keyframes SlideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
