// Base Layout Style

$header-h: 60px;
/* ------------------- Nav Wrap ------------------- */
.global-nav {
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: $header-h;
  background-color: inherit;
  backdrop-filter: blur(15px);
  border-color: var(--border);
  background-color: var(--bg);
}

/* ------------------- NavWrap ------------------- */
.nav-wrapper {
  display: block;

  .logo {
    display: block;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-family: 'Yeseva One';
    font-weight: bold;
    color: inherit;
    line-height: normal;
  }
  .toggler {
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    place-content: center;
    padding: 1rem;
    height: $header-h;
    font-size: 24px;
    &::after {
      content: '\eba8';
      font-family: 'boxicons';
    }
  }
}

// nav
.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color);
  // backdrop-filter: blur(15px);
  .nav-link {
    z-index: 10;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    text-align: center;
  }
}
/* ------------------- etc ------------------- */

.text-gradient-anima {
  background-color: #000000;
  background-image: linear-gradient(
    50% 0%,
    8% 50%,
    #ffffff80 0%,
    #ffffff00 100%
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 500px 100%;
  transition: background 0.5s ease-in-out;
  animation: textGradient 3s linear infinite;

  // &:hover,
  // &:focus {
  //   background-size: 200% 100%;
  // }
}
.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: 0.125em;
      opacity: 1;
    }
  }
}

@keyframes textGradient {
  0% {
    background-position-x: 500px;
  }
  100% {
    background-position-x: 1000px;
  }
}
